asgiref==3.8.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2025.11.12
charset-normalizer==3.4.4
Django==4.2.26
idna==3.11
lxml==6.0.2
numpy==1.24.4
pandas==2.0.3
pillow
python-dateutil==2.9.0
pytz==2025.2
requests
six==1.17.0
soupsieve
sqlparse==0.5.4
typing_extensions
tzdata==2025.2
urllib3
