/* Gear Icons for ratings */
svg.rating-icon{
    max-width:4rem;
    max-height: 4rem;
    transition: fill 0.3s ease;
    /* Grey out non-active ones */
    &:hover, &.hovered {
        cursor: pointer;
        fill:hsl(22 75% 50% / 0.25);
    }
    &:not(.hovered){
        fill: hsl(218 15% 12% / var(--tw-bg-opacity, 1));
    }
    
    /* Illuminate for active icons */
    &.active {
        fill:hsl(22 75% 50% / var(--tw-bg-opacity, 1))
    }
    
}