
td, th {
    text-wrap: nowrap;
}

tr[data-yardid] {
    & th[data-order] {
        cursor: pointer;
        transition:border-color 0.3s ease-in-out ;
        & >svg >path.sort-caret {
            transition: fill 0.3s;
        }
    }
    
}
th[data-order="-"] {
    & path.sort-caret:first-child {
        fill: #65696f;
    }
    & path.sort-caret:last-child {
        fill: hsl(22 75% 50% / var(--tw-bg-opacity, 1));
    }
} 
th[data-order=""]{
    & path.sort-caret:first-child {
        fill: hsl(22 75% 50% / var(--tw-bg-opacity, 1));
    }
    & path.sort-caret:last-child {
        fill: #65696f;
    }
}
th[data-isusing="false"]{
    & path.sort-caret{
        fill: #65696f !important;
    }
}