{% extends 'yardsearcher/base.html' %}
{% block main_content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex flex-col lg:grid lg:grid-cols-2 gap-8">
        <!-- Map Section -->
        <div class="w-full self-start">
            <div class="p-4 bg-card border-2 border-border rounded-lg">
                <div class="mb-4">
                    <h2 class="text-xl font-bold text-foreground flex items-center gap-2">
                        We value your feedback
                    </h2>
                    <p class="text-sm text-muted-foreground mt-1">
                        Tell us how we can improve 
                    </p>
                    <form method="post" class="flex mt-4 flex-col gap-2">
                        {% csrf_token %}
                        <input type="number" name="rating" step="0.1" min="0" max="5" placeholder="Rate us (1-5)"
                        class="w-full pl-4 pr-12 h-14 text-base md:text-lg bg-background border-2 border-border rounded-lg focus:border-primary/70 focus:outline-none transition-colors text-foreground"
                        required/>
                        <textarea name="feedback"  rows="3" placeholder="Let us know what you think here"
                        class="w-full pl-4 pr-12 pt-[0.8rem] text-base md:text-lg bg-background border-2 border-border rounded-lg focus:border-primary/70 focus:outline-none transition-colors text-foreground"
                        required></textarea>
                        <input type="email" name="email" step="0.1" min="1" max="5" placeholder="Enter email"
                        class="w-full pl-4 pr-12 h-14 text-base md:text-lg bg-background border-2 border-border rounded-lg focus:border-primary/70 focus:outline-none transition-colors text-foreground"
                        required/>
                        <button type="submit" class="p-4 mt-4 rounded-lg  bg-primary/35 border-2 border-primary text-foreground"> Leave Feedback </button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}


{% block popup-heading-text %} Manage Junkyards {% endblock %}
{% block popup-button-text %} Save Changes {% endblock %}
{% block popup-content %}
    <div class="d-grid gap-2" style="grid-template-columns: 1fr 1fr;">
        <div class="form-check d-flex gap-2">
            <input class="form-check-input" type="checkbox" value="" id="checkDefault">
            <label class="form-check-label d-flex flex-column" for="checkDefault">
                <span class="">Joliet U pullit</span>
                <span>X miles away</span>
            </label>
        </div>
    </div>
{% endblock %}
